@model IEnumerable<GestaoVacinas.Models.Membros>

@{
    ViewData["Title"] = "Index";
}
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">


<style>
    * {
        font-family: 'Open Sans', sans-serif;
    }

    h1 {
        font-weight: bold;
        font-size: 45px;
        color: #587EFD;
    }
    .table {
        text-align: center;
    }

</style>

<h1>Membros Cadastrados</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apelido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cns)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Apelido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cns)
                </td>
                <td>

                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Visualizar</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>